.git
.gitignore

.venv
venv
env

__pycache__
*.pyc
*.pyo
*.pyd

.env
.env.*

reports
notebooks

data/raw
data/processed
data/synthetic

.cache
huggingface
sentence_transformers
models

.DS_Store
Thumbs.db

README_old.md